{% extends "base.html" %}


{% block content %}
<div class="text-center mt-5 container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% if books %}
    <hr style="border: 3px solid white; border-radius: 5px;" />
    <h1 class="display-4 text-center">All Books</h1>
    <br>
    <table style="background-color:#5072a7" class="table"  id='data'>
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td scope="row">{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>
                    <a href="book/{{book.id}}">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{book.id}}" style="background-color:#5072a7";>
                        Details
                    </button>
                    </a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>





{% endblock content %}