{% extends "base.html" %}


{% block content %}
<div class="header">
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
  <div class="paragraphSec">
      <h1>Get Better read on the world</h1>
      <p>
          Libraries change lives for the better. All library is not a luxury but, 
          one of the necessities of life.

      </p>
  </div>

  <div>
      <img src="https://i.pinimg.com/originals/4b/fa/04/4bfa049e25e1ed348719dba0a89b92cd.jpg" alt="">
  </div>

  

</div>

<footer>
    <p>Library Management System @Malongar Foday</p>
  </footer>




{% endblock content %}